*{
    border: 0;
    margin: 0;
}
#box{

    position: absolute;
    left: 25px;
    top:25px;
    background-color: rgb(255, 0, 0);
    height: 50px;
    width: 50px;
}
#bb{
    background-color: aquamarine;
    height: 100px;
    width: 100px;
    border: 5px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    animation-name: ani;
    animation-duration:100s;
    animation-iteration-count: infinite;


}
@keyframes ani{
    from{transform: rotate(0deg)}
    to{transform: rotate(90687deg)}
}